<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ouer.solar.config.jobserver.db.JobServerSpecialConfigMapper">
	
	<resultMap id="jobserver_config" type="com.ouer.solar.config.jobserver.JobServerSpecialConfig">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="instance_name" property="instanceName" jdbcType="VARCHAR" />
<!-- 		<result column="db_name" property="dbName" jdbcType="VARCHAR" /> -->
		<result column="db_url" property="dbUrl" jdbcType="VARCHAR" />
		<result column="db_user" property= "dbUser" jdbcType="VARCHAR" />
		<result column="db_password" property="dbPassword" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		app_id, instance_name, db_url, db_user, db_password
	</sql>
	
	<insert id="insert" parameterType="com.ouer.solar.config.jobserver.JobServerSpecialConfig"
		useGeneratedKeys="true" keyProperty="id">
		insert into jobserver_config (
		app_id, instance_name, db_url, db_user, db_password, created_at, updated_at
		)
		values (
		#{appId}, #{instanceName}, #{dbUrl}, #{dbUser}, #{dbPassword},
		now(),
		now()
		)
	</insert>
	
	<update id="update" parameterType="com.ouer.solar.config.jobserver.JobServerSpecialConfig">
		update jobserver_config
		<set>
			<if test="instanceName != null">
				instance_name = #{instanceName}, 
			</if>
<!-- 			<if test="dbName != null"> -->
<!-- 				db_name = #{dbName},  -->
<!-- 			</if> -->
			<if test="dbUrl != null">
				db_url = #{dbUrl}, 
			</if>
			<if test="dbUser != null">
				db_user = #{dbUser}, 
			</if>
			<if test="db_password != null">
				db_password = #{dbPassword}, 
			</if>
			updated_at = now()
		</set>
		where app_id = #{appId}
	</update>
	
	<select id="select" resultMap="jobserver_config">
		select <include refid="Base_Column_List"/> from jobserver_config where app_id = #{appId}
	</select>
	
	<select id="selectAll" resultMap="jobserver_config">
		select <include refid="Base_Column_List"/> from jobserver_config
	</select>
	
	<select id="exists" resultType="boolean">
    	<![CDATA[ select count(*) from jobserver_config where app_id = #{appId} ]]>
	</select> 
	
	<delete id="delete">
    	delete from jobserver_config where app_id = #{appId}
  	</delete>
</mapper>